/* controls */

.input {
  /* убираем инпуты, используем label для стилизации */
  display: none;
}

.controls {
  width: 53vh;
  margin-top: 3vh;
  margin-right: -2vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper5 .controls {
  width: 60vh;
}

.label,
.label::after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.label {
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--basic-trans);
}

.label::after {
  content: '';
  width: 40%;
  height: 40%;
  background-color: var(--ctrl-color);
  border: medium solid var(--ctrl-color);
  transition: var(--basic-trans);
  cursor: pointer;
}

.label:hover::after {
  border: medium solid var(--light-color);
  background-color: var(--light-color);
}

#slide1:checked ~ .bottom .label1,
#slide2:checked ~ .bottom .label2,
#slide3:checked ~ .bottom .label3,
#slide4:checked ~ .bottom .label4,
#slide5:checked ~ .bottom .label5,
#slide6:checked ~ .bottom .label6,
#slide7:checked ~ .bottom .label7,
#slide8:checked ~ .bottom .label8,
#slide9:checked ~ .bottom .label9,
#slide10:checked ~ .bottom .label10,
#slide11:checked ~ .bottom .label11,
#slide12:checked ~ .bottom .label12,
#slide13:checked ~ .bottom .label13,
#slide14:checked ~ .bottom .label14,
#slide15:checked ~ .bottom .label15,
#slide16:checked ~ .bottom .label16,
#slide17:checked ~ .bottom .label17,
#slide18:checked ~ .bottom .label18,
#slide19:checked ~ .bottom .label19,
#slide20:checked ~ .bottom .label20,
#slide21:checked ~ .bottom .label21,
#slide22:checked ~ .bottom .label22,
#slide23:checked ~ .bottom .label23,
#slide24:checked ~ .bottom .label24,
#slide25:checked ~ .bottom .label25,
#slide26:checked ~ .bottom .label26,
#slide27:checked ~ .bottom .label27,
#slide28:checked ~ .bottom .label28,
#slide29:checked ~ .bottom .label29,
#slide30:checked ~ .bottom .label30,
#slide31:checked ~ .bottom .label31,
#slide32:checked ~ .bottom .label32,
#slide33:checked ~ .bottom .label33,
#slide34:checked ~ .bottom .label34,
#slide35:checked ~ .bottom .label35,
#slide36:checked ~ .bottom .label36,
#slide37:checked ~ .bottom .label37,
#slide38:checked ~ .bottom .label38,
#slide39:checked ~ .bottom .label39,
#slide40:checked ~ .bottom .label40,
#slide41:checked ~ .bottom .label41,
#slide42:checked ~ .bottom .label42,
#slide43:checked ~ .bottom .label43,
#slide44:checked ~ .bottom .label44,
#slide45:checked ~ .bottom .label45,
#slide46:checked ~ .bottom .label46,
#slide47:checked ~ .bottom .label47,
#slide48:checked ~ .bottom .label48,
#slide49:checked ~ .bottom .label49,
#slide50:checked ~ .bottom .label50,
#slide51:checked ~ .bottom .label51,
#slide52:checked ~ .bottom .label52,
#slide53:checked ~ .bottom .label53,
#slide54:checked ~ .bottom .label54,
#slide55:checked ~ .bottom .label55,
#slide56:checked ~ .bottom .label56,
#slide57:checked ~ .bottom .label57,
#slide58:checked ~ .bottom .label58,
#slide59:checked ~ .bottom .label59,
#slide60:checked ~ .bottom .label60,
#slide61:checked ~ .bottom .label61,
#slide62:checked ~ .bottom .label62,
#slide63:checked ~ .bottom .label63,
#slide64:checked ~ .bottom .label64,
#slide65:checked ~ .bottom .label65,
#slide66:checked ~ .bottom .label66,
#slide67:checked ~ .bottom .label67,
#slide68:checked ~ .bottom .label68,
#slide69:checked ~ .bottom .label69,
#slide70:checked ~ .bottom .label70,
#slide71:checked ~ .bottom .label71,
#slide72:checked ~ .bottom .label72,
#slide73:checked ~ .bottom .label73,
#slide74:checked ~ .bottom .label74,
#slide75:checked ~ .bottom .label75,
#slide76:checked ~ .bottom .label76,
#slide77:checked ~ .bottom .label77,
#slide78:checked ~ .bottom .label78,
#slide79:checked ~ .bottom .label79,
#slide80:checked ~ .bottom .label80,
#slide81:checked ~ .bottom .label81,
#slide82:checked ~ .bottom .label82,
#slide83:checked ~ .bottom .label83,
#slide84:checked ~ .bottom .label84,
#slide85:checked ~ .bottom .label85,
#slide86:checked ~ .bottom .label86,
#slide87:checked ~ .bottom .label87,
#slide88:checked ~ .bottom .label88,
#slide89:checked ~ .bottom .label89,
#slide90:checked ~ .bottom .label90,
#slide91:checked ~ .bottom .label91,
#slide92:checked ~ .bottom .label92,
#slide93:checked ~ .bottom .label93,
#slide94:checked ~ .bottom .label94,
#slide95:checked ~ .bottom .label95,
#slide96:checked ~ .bottom .label96,
#slide97:checked ~ .bottom .label97,
#slide98:checked ~ .bottom .label98,
#slide99:checked ~ .bottom .label99,
#slide100:checked ~ .bottom .label100,
#slide101:checked ~ .bottom .label101,
#slide102:checked ~ .bottom .label102,
#slide103:checked ~ .bottom .label103,
#slide104:checked ~ .bottom .label104,
#slide105:checked ~ .bottom .label105,
#slide106:checked ~ .bottom .label106,
#slide107:checked ~ .bottom .label107,
#slide108:checked ~ .bottom .label108,
#slide109:checked ~ .bottom .label109,
#slide110:checked ~ .bottom .label110,
#slide111:checked ~ .bottom .label111,
#slide112:checked ~ .bottom .label112,
#slide113:checked ~ .bottom .label113,
#slide114:checked ~ .bottom .label114,
#slide115:checked ~ .bottom .label115,
#slide116:checked ~ .bottom .label116,
#slide117:checked ~ .bottom .label117,
#slide118:checked ~ .bottom .label118,
#slide119:checked ~ .bottom .label119,
#slide120:checked ~ .bottom .label120,
#slide121:checked ~ .bottom .label121,
#slide122:checked ~ .bottom .label122,
#slide123:checked ~ .bottom .label123,
#slide124:checked ~ .bottom .label124,
#slide125:checked ~ .bottom .label125,
#slide126:checked ~ .bottom .label126,
#slide127:checked ~ .bottom .label127,
#slide128:checked ~ .bottom .label128,
#slide129:checked ~ .bottom .label129,
#slide130:checked ~ .bottom .label130,
#slide131:checked ~ .bottom .label131,
#slide132:checked ~ .bottom .label132,
#slide133:checked ~ .bottom .label133,
#slide134:checked ~ .bottom .label134,
#slide135:checked ~ .bottom .label135,
#slide136:checked ~ .bottom .label136 {
  /* убираем ссылочный курсор у активного control */
  cursor: auto;
}

#slide1:checked ~ .bottom .label1::after,
#slide2:checked ~ .bottom .label2::after,
#slide3:checked ~ .bottom .label3::after,
#slide4:checked ~ .bottom .label4::after,
#slide5:checked ~ .bottom .label5::after,
#slide6:checked ~ .bottom .label6::after,
#slide7:checked ~ .bottom .label7::after,
#slide8:checked ~ .bottom .label8::after,
#slide9:checked ~ .bottom .label9::after,
#slide10:checked ~ .bottom .label10::after,
#slide11:checked ~ .bottom .label11::after,
#slide12:checked ~ .bottom .label12::after,
#slide13:checked ~ .bottom .label13::after,
#slide14:checked ~ .bottom .label14::after,
#slide15:checked ~ .bottom .label15::after,
#slide16:checked ~ .bottom .label16::after,
#slide17:checked ~ .bottom .label17::after,
#slide18:checked ~ .bottom .label18::after,
#slide19:checked ~ .bottom .label19::after,
#slide20:checked ~ .bottom .label20::after,
#slide21:checked ~ .bottom .label21::after,
#slide22:checked ~ .bottom .label22::after,
#slide23:checked ~ .bottom .label23::after,
#slide24:checked ~ .bottom .label24::after,
#slide25:checked ~ .bottom .label25::after,
#slide26:checked ~ .bottom .label26::after,
#slide27:checked ~ .bottom .label27::after,
#slide28:checked ~ .bottom .label28::after,
#slide29:checked ~ .bottom .label29::after,
#slide30:checked ~ .bottom .label30::after,
#slide31:checked ~ .bottom .label31::after,
#slide32:checked ~ .bottom .label32::after,
#slide33:checked ~ .bottom .label33::after,
#slide34:checked ~ .bottom .label34::after,
#slide35:checked ~ .bottom .label35::after,
#slide36:checked ~ .bottom .label36::after,
#slide37:checked ~ .bottom .label37::after,
#slide38:checked ~ .bottom .label38::after,
#slide39:checked ~ .bottom .label39::after,
#slide40:checked ~ .bottom .label40::after,
#slide41:checked ~ .bottom .label41::after,
#slide42:checked ~ .bottom .label42::after,
#slide43:checked ~ .bottom .label43::after,
#slide44:checked ~ .bottom .label44::after,
#slide45:checked ~ .bottom .label45::after,
#slide46:checked ~ .bottom .label46::after,
#slide47:checked ~ .bottom .label47::after,
#slide48:checked ~ .bottom .label48::after,
#slide49:checked ~ .bottom .label49::after,
#slide50:checked ~ .bottom .label50::after,
#slide51:checked ~ .bottom .label51::after,
#slide52:checked ~ .bottom .label52::after,
#slide53:checked ~ .bottom .label53::after,
#slide54:checked ~ .bottom .label54::after,
#slide55:checked ~ .bottom .label55::after,
#slide56:checked ~ .bottom .label56::after,
#slide57:checked ~ .bottom .label57::after,
#slide58:checked ~ .bottom .label58::after,
#slide59:checked ~ .bottom .label59::after,
#slide60:checked ~ .bottom .label60::after,
#slide61:checked ~ .bottom .label61::after,
#slide62:checked ~ .bottom .label62::after,
#slide63:checked ~ .bottom .label63::after,
#slide64:checked ~ .bottom .label64::after,
#slide65:checked ~ .bottom .label65::after,
#slide66:checked ~ .bottom .label66::after,
#slide67:checked ~ .bottom .label67::after,
#slide68:checked ~ .bottom .label68::after,
#slide69:checked ~ .bottom .label69::after,
#slide70:checked ~ .bottom .label70::after,
#slide71:checked ~ .bottom .label71::after,
#slide72:checked ~ .bottom .label72::after,
#slide73:checked ~ .bottom .label73::after,
#slide74:checked ~ .bottom .label74::after,
#slide75:checked ~ .bottom .label75::after,
#slide76:checked ~ .bottom .label76::after,
#slide77:checked ~ .bottom .label77::after,
#slide78:checked ~ .bottom .label78::after,
#slide79:checked ~ .bottom .label79::after,
#slide80:checked ~ .bottom .label80::after,
#slide81:checked ~ .bottom .label81::after,
#slide82:checked ~ .bottom .label82::after,
#slide83:checked ~ .bottom .label83::after,
#slide84:checked ~ .bottom .label84::after,
#slide85:checked ~ .bottom .label85::after,
#slide86:checked ~ .bottom .label86::after,
#slide87:checked ~ .bottom .label87::after,
#slide88:checked ~ .bottom .label88::after,
#slide89:checked ~ .bottom .label89::after,
#slide90:checked ~ .bottom .label90::after,
#slide91:checked ~ .bottom .label91::after,
#slide92:checked ~ .bottom .label92::after,
#slide93:checked ~ .bottom .label93::after,
#slide94:checked ~ .bottom .label94::after,
#slide95:checked ~ .bottom .label95::after,
#slide96:checked ~ .bottom .label96::after,
#slide97:checked ~ .bottom .label97::after,
#slide98:checked ~ .bottom .label98::after,
#slide99:checked ~ .bottom .label99::after,
#slide100:checked ~ .bottom .label100::after,
#slide101:checked ~ .bottom .label101::after,
#slide102:checked ~ .bottom .label102::after,
#slide103:checked ~ .bottom .label103::after,
#slide104:checked ~ .bottom .label104::after,
#slide105:checked ~ .bottom .label105::after,
#slide106:checked ~ .bottom .label106::after,
#slide107:checked ~ .bottom .label107::after,
#slide108:checked ~ .bottom .label108::after,
#slide109:checked ~ .bottom .label109::after,
#slide110:checked ~ .bottom .label110::after,
#slide111:checked ~ .bottom .label111::after,
#slide112:checked ~ .bottom .label112::after,
#slide113:checked ~ .bottom .label113::after,
#slide114:checked ~ .bottom .label114::after,
#slide115:checked ~ .bottom .label115::after,
#slide116:checked ~ .bottom .label116::after,
#slide117:checked ~ .bottom .label117::after,
#slide118:checked ~ .bottom .label118::after,
#slide119:checked ~ .bottom .label119::after,
#slide120:checked ~ .bottom .label120::after,
#slide121:checked ~ .bottom .label121::after,
#slide122:checked ~ .bottom .label122::after,
#slide123:checked ~ .bottom .label123::after,
#slide124:checked ~ .bottom .label124::after,
#slide125:checked ~ .bottom .label125::after,
#slide126:checked ~ .bottom .label126::after,
#slide127:checked ~ .bottom .label127::after,
#slide128:checked ~ .bottom .label128::after,
#slide129:checked ~ .bottom .label129::after,
#slide130:checked ~ .bottom .label130::after,
#slide131:checked ~ .bottom .label131::after,
#slide132:checked ~ .bottom .label132::after,
#slide133:checked ~ .bottom .label133::after,
#slide134:checked ~ .bottom .label134::after,
#slide135:checked ~ .bottom .label135::after,
#slide136:checked ~ .bottom .label136::after {
  /* активный control */
  border: medium solid var(--ctrl-color);
  background-color: var(--bg-color);
  cursor: auto;
}
