.output {
  margin-top: 3vh;
  display: none;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  font-weight: 100;
  color: var(--ctrl-color);
  -webkit-animation: circle-rotate 1s;
  -moz-animation: circle-rotate 1s;
  -o-animation: circle-rotate 1s;
  -ms-animation: circle-rotate 1s;
  animation: circle-rotate 1s;
}

#slide1:checked ~ .bottom .output1,
#slide2:checked ~ .bottom .output2,
#slide3:checked ~ .bottom .output3,
#slide4:checked ~ .bottom .output4,
#slide5:checked ~ .bottom .output5,
#slide6:checked ~ .bottom .output6,
#slide7:checked ~ .bottom .output7,
#slide8:checked ~ .bottom .output8,
#slide9:checked ~ .bottom .output9,
#slide10:checked ~ .bottom .output10,
#slide11:checked ~ .bottom .output11,
#slide12:checked ~ .bottom .output12,
#slide13:checked ~ .bottom .output13,
#slide14:checked ~ .bottom .output14,
#slide15:checked ~ .bottom .output15,
#slide16:checked ~ .bottom .output16,
#slide17:checked ~ .bottom .output17,
#slide18:checked ~ .bottom .output18,
#slide19:checked ~ .bottom .output19,
#slide20:checked ~ .bottom .output20,
#slide21:checked ~ .bottom .output21,
#slide22:checked ~ .bottom .output22,
#slide23:checked ~ .bottom .output23,
#slide24:checked ~ .bottom .output24,
#slide25:checked ~ .bottom .output25,
#slide26:checked ~ .bottom .output26,
#slide27:checked ~ .bottom .output27,
#slide28:checked ~ .bottom .output28,
#slide29:checked ~ .bottom .output29,
#slide30:checked ~ .bottom .output30,
#slide31:checked ~ .bottom .output31,
#slide32:checked ~ .bottom .output32,
#slide33:checked ~ .bottom .output33,
#slide34:checked ~ .bottom .output34,
#slide35:checked ~ .bottom .output35,
#slide36:checked ~ .bottom .output36,
#slide37:checked ~ .bottom .output37,
#slide38:checked ~ .bottom .output38,
#slide39:checked ~ .bottom .output39,
#slide40:checked ~ .bottom .output40,
#slide41:checked ~ .bottom .output41,
#slide42:checked ~ .bottom .output42,
#slide43:checked ~ .bottom .output43,
#slide44:checked ~ .bottom .output44,
#slide45:checked ~ .bottom .output45,
#slide46:checked ~ .bottom .output46,
#slide47:checked ~ .bottom .output47,
#slide48:checked ~ .bottom .output48,
#slide49:checked ~ .bottom .output49,
#slide50:checked ~ .bottom .output50,
#slide51:checked ~ .bottom .output51,
#slide52:checked ~ .bottom .output52,
#slide53:checked ~ .bottom .output53,
#slide54:checked ~ .bottom .output54,
#slide55:checked ~ .bottom .output55,
#slide56:checked ~ .bottom .output56,
#slide57:checked ~ .bottom .output57,
#slide58:checked ~ .bottom .output58,
#slide59:checked ~ .bottom .output59,
#slide60:checked ~ .bottom .output60,
#slide61:checked ~ .bottom .output61,
#slide62:checked ~ .bottom .output62,
#slide63:checked ~ .bottom .output63,
#slide64:checked ~ .bottom .output64,
#slide65:checked ~ .bottom .output65,
#slide66:checked ~ .bottom .output66,
#slide67:checked ~ .bottom .output67,
#slide68:checked ~ .bottom .output68,
#slide69:checked ~ .bottom .output69,
#slide70:checked ~ .bottom .output70,
#slide71:checked ~ .bottom .output71,
#slide72:checked ~ .bottom .output72,
#slide73:checked ~ .bottom .output73,
#slide74:checked ~ .bottom .output74,
#slide75:checked ~ .bottom .output75,
#slide76:checked ~ .bottom .output76,
#slide77:checked ~ .bottom .output77,
#slide78:checked ~ .bottom .output78,
#slide79:checked ~ .bottom .output79,
#slide80:checked ~ .bottom .output80,
#slide81:checked ~ .bottom .output81,
#slide82:checked ~ .bottom .output82,
#slide83:checked ~ .bottom .output83,
#slide84:checked ~ .bottom .output84,
#slide85:checked ~ .bottom .output85,
#slide86:checked ~ .bottom .output86,
#slide87:checked ~ .bottom .output87,
#slide88:checked ~ .bottom .output88,
#slide89:checked ~ .bottom .output89,
#slide90:checked ~ .bottom .output90,
#slide91:checked ~ .bottom .output91,
#slide92:checked ~ .bottom .output92,
#slide93:checked ~ .bottom .output93,
#slide94:checked ~ .bottom .output94,
#slide95:checked ~ .bottom .output95,
#slide96:checked ~ .bottom .output96,
#slide97:checked ~ .bottom .output97,
#slide98:checked ~ .bottom .output98,
#slide99:checked ~ .bottom .output99,
#slide100:checked ~ .bottom .output100,
#slide101:checked ~ .bottom .output101,
#slide102:checked ~ .bottom .output102,
#slide103:checked ~ .bottom .output103,
#slide104:checked ~ .bottom .output104,
#slide105:checked ~ .bottom .output105,
#slide106:checked ~ .bottom .output106,
#slide107:checked ~ .bottom .output107,
#slide108:checked ~ .bottom .output108,
#slide109:checked ~ .bottom .output109,
#slide110:checked ~ .bottom .output110,
#slide111:checked ~ .bottom .output111,
#slide112:checked ~ .bottom .output112,
#slide113:checked ~ .bottom .output113,
#slide114:checked ~ .bottom .output114,
#slide115:checked ~ .bottom .output115,
#slide116:checked ~ .bottom .output116,
#slide117:checked ~ .bottom .output117,
#slide118:checked ~ .bottom .output118,
#slide119:checked ~ .bottom .output119,
#slide120:checked ~ .bottom .output120,
#slide121:checked ~ .bottom .output121,
#slide122:checked ~ .bottom .output122,
#slide123:checked ~ .bottom .output123,
#slide124:checked ~ .bottom .output124,
#slide125:checked ~ .bottom .output125,
#slide126:checked ~ .bottom .output126,
#slide127:checked ~ .bottom .output127,
#slide128:checked ~ .bottom .output128,
#slide129:checked ~ .bottom .output129,
#slide130:checked ~ .bottom .output130,
#slide131:checked ~ .bottom .output131,
#slide132:checked ~ .bottom .output132,
#slide133:checked ~ .bottom .output133,
#slide134:checked ~ .bottom .output134,
#slide135:checked ~ .bottom .output135,
#slide136:checked ~ .bottom .output136 {
  /* делаем видимым нужный текст при смене картинки  */
  display: block;
}
