/* BASIC */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

/* MAIN */

.main {
  height: calc(var(--main-height) + var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
}

/* wrappers */

.wrapper {
  display: flex;
  margin-bottom: 4vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper,
.slider,
.slide {
  /* размеры итогового слайдера */
  width: var(--slider-width);
  height: var(--slider-height);
}

.wrapper {
  display: none;
  height: var(--wrapper-height);
}

.wrapper4,
.wrapper5,
.wrapper6,
.wrapper7,
.wrapper8 {
  height: 72vh;
  margin-bottom: 6vh;
}

.slider {
  overflow: hidden;
}

.inner {
  /* размеры внутреннего блока со всеми картинками */
  width: calc(var(--slider-width) * var(--slider-size));
  height: var(--slider-height);
  display: flex;
  transition: var(--slider-trans);
}

/* slides */

.slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--slider-width);
}

/* bottom section */

.bottom {
  width: var(--slider-height);
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}

.wrapper5 .bottom,
.wrapper6 .bottom {
  width: calc(var(--slider-height) + 10vh);
}

/* output */

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: x-small;
  font-style: normal;
  color: var(--light-color);
  -webkit-animation: circle-rotate 4s linear infinite;
  animation: circle-rotate 4s linear infinite;
}

.left {
  -webkit-transform-origin: 3vmin 1vmin;
  transform-origin: 3vmin 1vmin;
}

.right {
  -webkit-transform-origin: -4vmin 1vmin;
  transform-origin: -4vmin 1vmin;
}

@-webkit-keyframes circle-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes circle-rotate {
  to {
    transform: rotate(1turn);
  }
}
